body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 55px;
    box-shadow: 0 0px 5px #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

nav {
    a {
        color: black;
        text-decoration: none;
        padding: 4px 6px;
        letter-spacing: 3px;

        &:hover {
            background: #eee;
        }
    }
}

footer {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center;
    box-sizing: border-box;
    padding-top: 34px; */
    height: 85px;
}

main {
    width: 85%;
    min-height: 500px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.logo {
    height: 744px;
    background-image: url('./img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .prefix {
    font-weight: bold;
    background: rgba(0, 0, 0, .6);
    padding: 4px 10px;
}

h2 {
    font-size: 22px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: normal;
    padding-bottom: 22px;
}

.people {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.architect {
    flex: 1 1 0;
    min-width: 200px;
}

.architect-photo img {
    width: 100%;
}

.architect-name {
    font-size: 20px;
    margin-top: 6px;
}

.job-name {
    color: gray;
    font-size: 18px;
    margin: 12px 0;
}

.architect-bio {
    line-height: 22px;
    margin-bottom: 12px;
}

.contact {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    background: #eee;
    display: block;
    text-align: center;
}

.contact:hover {
    background: #ddd;
}

form input {
    display: block;
    width: 100%;
    height: 36px;
    margin: 14px 0;
    padding: 0 8px;
    border-radius: 0;
    border: 1px solid #ccc;
}

form button {
    background-color: #000;
    border-radius: 0;
    border: 1px solid gray;
    color: white;
    width: 150px;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;

    transition: all;
    transition-delay: 300ms;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

form button:hover {
    background-color: #555;
}
